#fullpage {
    height: auto;
}

#section_worldView { 
    display: block;
    z-index: 1;
 }
#section_worldView .intro {
    background: url(../images/gameIntro/bg_gameIntro0.jpg) no-repeat center top;  
    height: 980px;    
    background-size: 1920px 100%;    
}

#section_worldView .center_light_area { width : 183px; height: 194px; position: absolute; left: 56%; top: 40%; }
#section_worldView .center_light_area .center_light { width : 573px; height: 332px; background: url(../images/gameIntro/centerLight.png); animation: test 30s linear infinite alternate, lamp_blinking 1s linear infinite alternate; position: absolute; opacity: 0; }


#section_worldView span {  opacity: 0; transform: translateX(-50%); }
#section_worldView span.img_txt0 { z-index: 1; position: absolute; width: 100%; height: 136px; left: 50%; top: 23%; background: url(../images/gameIntro/img_txt0_0806.png) no-repeat center; }
#section_worldView span.img_txt1 { z-index: 1; position: absolute; width: 100%; height: 248px; left: 50%; top: 40%; background: url(../images/gameIntro/img_txt1_0806.png) no-repeat center; }
#section_worldView span.img_txt2 { z-index: 1; position: absolute; width: 100%; height: 161px; left: 50%; top: 70%; background: url(../images/gameIntro/img_txt2_0909.png) no-repeat center; }

#section_worldView span.show {-webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); }
#section_worldView span.img_txt0.show { top: 19%; opacity: 1; }
#section_worldView span.img_txt1.show { top: 36%; opacity: 1; }
#section_worldView span.img_txt2.show { top: 66%; opacity: 1; }

/* snow flake */
.winter-is-coming, .snow {
    z-index: 90;
    pointer-events: none;
}
.winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}
.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: falling linear infinite both;
    transform: translate3D(0, -100%, 0);
    
}
.snow--near {
    animation-duration: 20s;
    background-image: url('../images/gameIntro/snow.png');
    background-size: 32%;
}
.snow--near + .snow--alt {
    animation-delay: 5s;
}
.snow--mid {
    animation-duration: 30s;
    background-image: url('../images/gameIntro/snow2.png');
    background-size: 19%;
    filter: blur(5px);

}
.snow--mid + .snow--alt {
    animation-delay: 10s;
}
.snow--far {
    animation-duration: 40s;
    background-image: url('../images/gameIntro/snow3.png');
    background-size: 18%;
    opacity: 0.3;
}
.snow--far + .snow--alt {
    animation-delay: 15s;
}
@keyframes falling {
    0% {
        transform: translate3D(-7.5%, -100%, 0);
   }
    100% {
        transform: translate3D(7.5%, 100%, 0);
   }
}

/* //snow flake */

#section_jobs { 
    display: block;
    z-index: 1;
 }
#section_jobs .intro.step0{
    background: url(../images/gameIntro/bg_gameIntro1.jpg) no-repeat center top;  
    height: 980px;    
    background-size: 1920px 100%;    
}

#section_jobs .intro.step0 div .btn_detail { width: 170px; height: 64px; position: absolute; top: 37%; cursor: pointer; left: 72%; z-index: 5; }


#section_jobs .intro.step0 ul.btn_charFace_area { 
    width: 293px; height: 451px; position: absolute; top: 36%; left: 3%; z-index: 5;
}
#section_jobs .intro.step0 ul.btn_charFace_area li { cursor: pointer; width: 451px; height: 71px; display: block; z-index: 5; background: url(../images/gameIntro/btn_charFace_off.png) no-repeat; transition: 0.5s all; margin-top : 5px}
#section_jobs .intro.step0 ul.btn_charFace_area li:hover{ background: url(../images/gameIntro/btn_charFace_on.png) no-repeat; }
#section_jobs .intro.step0 ul.btn_charFace_area li.active{ background: url(../images/gameIntro/btn_charFace_on.png) no-repeat; }
#section_jobs .intro.step0 ul.btn_charFace_area li.btn_face0 { background-position: 0 0; }
#section_jobs .intro.step0 ul.btn_charFace_area li.btn_face1 { background-position: 0 -75px; }
#section_jobs .intro.step0 ul.btn_charFace_area li.btn_face2 { background-position: 0 -152px; }
#section_jobs .intro.step0 ul.btn_charFace_area li.btn_face3 { background-position: 0 -228px; }
#section_jobs .intro.step0 ul.btn_charFace_area li.btn_face4 { background-position: 0 -304px; }
#section_jobs .intro.step0 ul.btn_charFace_area li.btn_face5 { background-position: 0 -380px; }

#section_jobs .intro.step0 .char_area0 { width: 1200px; height: 860px; position: absolute; top: 11%; left: 9%; z-index: 4; background: url(../images/gameIntro/img_char_area0.png) no-repeat; }
#section_jobs .intro.step0 span.img_char0 { width: 1200px; height: 860px; display: block; position: absolute; top:110%; left: -2%; z-index: 3; background: url(../images/gameIntro/img_char0.png) no-repeat; -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); opacity: 0; transform: translate3d(1000px, 1000px, 100px); }

#section_jobs .intro.step0 .char_area1 { display: none; width: 1200px; height: 860px;  position: absolute; top: 11%; left: 9%; z-index: 4; background: url(../images/gameIntro/img_char_area1.png) no-repeat; }
#section_jobs .intro.step0 span.img_char1 { width: 1200px; height: 860px; display: block; position: absolute; top:110%; left: -2%; z-index: 3;  background: url(../images/gameIntro/img_char1.png) no-repeat; -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); opacity: 0; transform: translate3d(1000px, 1000px, 100px); }

#section_jobs .intro.step0 .char_area2 { display: none; width: 1200px; height: 860px;  position: absolute; top: 11%; left: 9%; z-index: 4; background: url(../images/gameIntro/img_char_area2.png) no-repeat; }
#section_jobs .intro.step0 span.img_char2 { width: 1200px; height: 860px; display: block; position: absolute; top:110%; left: -2%; z-index: 3;  background: url(../images/gameIntro/img_char2.png) no-repeat; -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); opacity: 0; transform: translate3d(1000px, 1000px, 100px); }

#section_jobs .intro.step0 .char_area3 { display: none; width: 1200px; height: 860px;  position: absolute; top: 11%; left: 9%; z-index: 4; background: url(../images/gameIntro/img_char_area3.png) no-repeat; }
#section_jobs .intro.step0 span.img_char3 { width: 1200px; height: 860px; display: block; position: absolute; top:110%; left: -2%; z-index: 3;  background: url(../images/gameIntro/img_char3.png) no-repeat; -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); opacity: 0; transform: translate3d(1000px, 1000px, 100px); }

#section_jobs .intro.step0 .char_area4 { display: none; width: 1200px; height: 860px;  position: absolute; top: 11%; left: 9%; z-index: 4; background: url(../images/gameIntro/img_char_area4.png) no-repeat; }
#section_jobs .intro.step0 span.img_char4 { width: 1200px; height: 860px; display: block; position: absolute; top:110%; left: -2%; z-index: 3;  background: url(../images/gameIntro/img_char4.png) no-repeat; -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); opacity: 0; transform: translate3d(1000px, 1000px, 100px); }

#section_jobs .intro.step0 .char_area5 { display: none; width: 1200px; height: 860px;  position: absolute; top: 11%; left: 9%; z-index: 4; background: url(../images/gameIntro/img_char_area5.png) no-repeat; }
#section_jobs .intro.step0 span.img_char5 { width: 1200px; height: 860px; display: block; position: absolute; top:110%; left: -2%; z-index: 3;  background: url(../images/gameIntro/img_char5.png) no-repeat; -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); opacity: 0; transform: translate3d(1000px, 1000px, 100px); }



#section_jobs .intro.step0 span.img_char0.show { opacity: 1; top : 12%;filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity: 1;-khtml-opacity: 1;-moz-opacity: 1;-ms-opacity: 1;-o-opacity: 1; left: 4%; transform: translate3d(0px, 0px, 0px);}
#section_jobs .intro.step0 span.img_char1.show { opacity: 1; top : 16%;filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity: 1;-khtml-opacity: 1;-moz-opacity: 1;-ms-opacity: 1;-o-opacity: 1; left: -12%; transform: translate3d(0px, 0px, 0px);}
#section_jobs .intro.step0 span.img_char2.show { opacity: 1; top : 13%;filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity: 1;-khtml-opacity: 1;-moz-opacity: 1;-ms-opacity: 1;-o-opacity: 1; left: 8%; transform: translate3d(0px, 0px, 0px);}
#section_jobs .intro.step0 span.img_char3.show { opacity: 1; top : 13%;filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity: 1;-khtml-opacity: 1;-moz-opacity: 1;-ms-opacity: 1;-o-opacity: 1; left: 8%; transform: translate3d(0px, 0px, 0px);}
#section_jobs .intro.step0 span.img_char4.show { opacity: 1; top : 13%;filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity: 1;-khtml-opacity: 1;-moz-opacity: 1;-ms-opacity: 1;-o-opacity: 1; left: 8%; transform: translate3d(0px, 0px, 0px);}
#section_jobs .intro.step0 span.img_char5.show { opacity: 1; top : 13%;filter: alpha(opacity=100);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-opacity: 1;-khtml-opacity: 1;-moz-opacity: 1;-ms-opacity: 1;-o-opacity: 1; left: 8%; transform: translate3d(0px, 0px, 0px);}

#section_jobs .intro.step0 span.img_char0.down { opacity: 0; top : 12%;filter: alpha(opacity=0);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-opacity: 0;-khtml-opacity: 0;-moz-opacity: 0;-ms-opacity: 0;-o-opacity: 0; left: 4%; transform: translate3d(-500px, -19px, -1000px);}


#section_jobs .intro.step1{
    opacity: 0.01;
    visibility: inherit;
    transform: translate(0px, 0px);
    -webkit-transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1); transition: all 0.7s cubic-bezier(0.646, 0.044, 0.353, 1);
    background: url(../images/gameIntro/bg_gameIntro2.jpg) no-repeat center top; width: 100%; height: 980px; background-size: 1920px 100%; position: absolute; top: 100%; left: 50%; margin-left: -50%; z-index: 2;
}

#section_jobs .intro.step1.show { opacity: 1; visibility: inherit; transform: translate(0px, 0px); top:0% }

#section_jobs .intro.step1 .btn_back { width: 149px; height: 25px; position: absolute; top: 11%; cursor: pointer; left: 85%; z-index: 5; background: url(../images/gameIntro/btn_back.png) no-repeat; opacity: 0.6; transition: 0.5s all; }
#section_jobs .intro.step1 .btn_back:hover { opacity: 1; }

/* #section_jobs .intro.step1 ul#job_0.subdivideJobs_area { width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_1.png) no-repeat; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs0_off.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs0_on.png) no-repeat; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs0_on.png) no-repeat; }



#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn3 { background-position: -540px 0px; top: 0px; right: 0; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn4 { background-position: -540px -70px; bottom: 0px; right: 0; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -33px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px -33px; top: 29px; left: 270px; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -540px -33px; top: 29px; right: 0; } */


#section_jobs .intro.step1 ul#job_0.subdivideJobs_area { width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_211220.png) no-repeat; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs0_220328.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs0_on_220328.png) no-repeat; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs0_on_220328.png) no-repeat; }

#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -35px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px 0px; top: 0px; left: 270px; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -270px -70px; bottom: 0px; left: 270px; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn3 { background-position: -540px 0px; top: 0px; right: 0; }
#section_jobs .intro.step1 ul#job_0.subdivideJobs_area li.subdivideJobs_btn4 { background-position: -540px -70px; bottom: 0px; right: 0; }


#section_jobs .intro.step1 ul#job_1.subdivideJobs_area { display: none; width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_1.png) no-repeat; }
#section_jobs .intro.step1 ul#job_1.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs1_off.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_1.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs1_on.png) no-repeat; }
#section_jobs .intro.step1 ul#job_1.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs1_on.png) no-repeat; }

#section_jobs .intro.step1 ul#job_1.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -33px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_1.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px -33px; top: 29px; left: 270px; }
#section_jobs .intro.step1 ul#job_1.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -540px -33px; top: 29px; right: 0; }

#section_jobs .intro.step1 ul#job_2.subdivideJobs_area { display: none; width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_1.png) no-repeat; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs2_off_220510.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs2_on_220510.png) no-repeat; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs2_on_220510.png) no-repeat; }

#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -35px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px 0px; top: 0px; left: 270px; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -270px -70px; bottom: 0px; left: 270px; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn3 { background-position: -540px 0px; top: 0px; right: 0; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn4 { background-position: -540px -70px; bottom: 0px; right: 0; }
/* #section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -33px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px -33px; top: 29px; left: 270px; }
#section_jobs .intro.step1 ul#job_2.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -540px -33px; top: 29px; right: 0; } */

#section_jobs .intro.step1 ul#job_3.subdivideJobs_area { display: none; width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_211220.png) no-repeat; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs3_off_220328.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs3_on_220328.png) no-repeat; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs3_on_220328.png) no-repeat; }

#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -35px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px 0px; top: 0px; left: 270px; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -270px -70px; bottom: 0px; left: 270px; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn3 { background-position: -540px 0px; top: 0px; right: 0; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn4 { background-position: -540px -70px; bottom: 0px; right: 0; }
/* #section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -33px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px -33px; top: 29px; left: 270px; }
#section_jobs .intro.step1 ul#job_3.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -540px -33px; top: 29px; right: 0; } */

#section_jobs .intro.step1 ul#job_4.subdivideJobs_area { display: none; width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_1.png) no-repeat; }
#section_jobs .intro.step1 ul#job_4.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs4_off.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_4.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs4_on.png) no-repeat; }
#section_jobs .intro.step1 ul#job_4.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs4_on.png) no-repeat; }

#section_jobs .intro.step1 ul#job_4.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -33px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_4.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px -33px; top: 29px; left: 270px; }
#section_jobs .intro.step1 ul#job_4.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -540px -33px; top: 29px; right: 0; }

#section_jobs .intro.step1 ul#job_5.subdivideJobs_area { display: none; width : 787px; height: 128px; position: absolute; z-index: 1; top: 20%; left: 50%; margin-left: -393.5px; background: url(../images/gameIntro/img_subdivideJobs_area_1.png) no-repeat; }
#section_jobs .intro.step1 ul#job_5.subdivideJobs_area li { cursor: pointer; position: absolute; width: 247px; height: 58px; background: url(../images/gameIntro/btn_subdivideJobs5_off.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul#job_5.subdivideJobs_area li.active {  background: url(../images/gameIntro/btn_subdivideJobs5_on.png) no-repeat; }
#section_jobs .intro.step1 ul#job_5.subdivideJobs_area li:hover {  background: url(../images/gameIntro/btn_subdivideJobs5_on.png) no-repeat; }

#section_jobs .intro.step1 ul#job_5.subdivideJobs_area li.subdivideJobs_btn0 { background-position: 0px -33px; top: 29px; left: 0; }
#section_jobs .intro.step1 ul#job_5.subdivideJobs_area li.subdivideJobs_btn1 { background-position: -270px -33px; top: 29px; left: 270px; }
#section_jobs .intro.step1 ul#job_5.subdivideJobs_area li.subdivideJobs_btn2 { background-position: -540px -33px; top: 29px; right: 0; }



#section_jobs .intro.step1 ul.detailJobs_area { width : 1024px; height: 123px; position: absolute; z-index: 1; top: 82%; left: 50%; margin-left: -523px; background: url(../images/gameIntro/btn_detailJobs_off.png) no-repeat; }
#section_jobs .intro.step1 ul.detailJobs_area li { cursor: pointer; position: absolute; top: 0; width: 87px; height: 123px; background: url(../images/gameIntro/btn_detailJobs_off.png) no-repeat; transition: 0.5s all;}
#section_jobs .intro.step1 ul.detailJobs_area li.active {  background: url(../images/gameIntro/btn_detailJobs_on.png) no-repeat; }
#section_jobs .intro.step1 ul.detailJobs_area li:hover {  background: url(../images/gameIntro/btn_detailJobs_on.png) no-repeat; }

#section_jobs .intro.step1 ul.detailJobs_area li.btn_jobs0 { background-position: -83px 0px; left: 8.1%; }
#section_jobs .intro.step1 ul.detailJobs_area li.btn_jobs1 { background-position: -236px 0px; left: 23.1%; }
#section_jobs .intro.step1 ul.detailJobs_area li.btn_jobs2 { background-position: -389px 0px; left: 38.1%; }
#section_jobs .intro.step1 ul.detailJobs_area li.btn_jobs3 { background-position: -543px 0px; left: 53.1%; }
#section_jobs .intro.step1 ul.detailJobs_area li.btn_jobs4 { background-position: -697px 0px; left: 68.1%; }
#section_jobs .intro.step1 ul.detailJobs_area li.btn_jobs5 { background-position: -850px 0px; left: 83.1%; }

#section_jobs .intro.step1 .img_detailJobs0 { width: 1200px; height: 160px; position: absolute; top: 3%; left: 50%; margin-left: -617px; z-index: 4; background: url(../images/gameIntro/img_detail0.png) no-repeat; }
#section_jobs .intro.step1 .img_detailJobs1 { display: none; width: 1200px; height: 160px; position: absolute; top: 3%; left: 50%; margin-left: -617px; z-index: 4; background: url(../images/gameIntro/img_detail1.png) no-repeat; }
#section_jobs .intro.step1 .img_detailJobs2 { display: none; width: 1200px; height: 160px; position: absolute; top: 3%; left: 50%; margin-left: -617px; z-index: 4; background: url(../images/gameIntro/img_detail2.png) no-repeat; }
#section_jobs .intro.step1 .img_detailJobs3 { display: none; width: 1200px; height: 160px; position: absolute; top: 3%; left: 50%; margin-left: -617px; z-index: 4; background: url(../images/gameIntro/img_detail3.png) no-repeat; }
#section_jobs .intro.step1 .img_detailJobs4 { display: none; width: 1200px; height: 160px; position: absolute; top: 3%; left: 50%; margin-left: -617px; z-index: 4; background: url(../images/gameIntro/img_detail4.png) no-repeat; }
#section_jobs .intro.step1 .img_detailJobs5 { display: none; width: 1200px; height: 160px; position: absolute; top: 3%; left: 50%; margin-left: -617px; z-index: 4; background: url(../images/gameIntro/img_detail5.png) no-repeat; }

/* 세부 직업 설명 이미지 */
#section_jobs .intro.step1 .img_subdivideJobs0_0 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs0_0.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs0_1 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs0_1.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs0_2 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs0_2.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs0_3 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs0_3.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs0_4 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs0_4.png) no-repeat; }

#section_jobs .intro.step1 .img_subdivideJobs1_0 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs1_0.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs1_1 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs1_1.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs1_2 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs1_2.png) no-repeat; }

#section_jobs .intro.step1 .img_subdivideJobs2_0 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs2_0.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs2_1 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs2_1.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs2_2 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs2_2.png) no-repeat; }/*이미지만 수정*/
#section_jobs .intro.step1 .img_subdivideJobs2_3 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs2_3.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs2_4 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5sall; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs2_4.png) no-repeat; }

#section_jobs .intro.step1 .img_subdivideJobs3_0 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs3_0.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs3_1 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs3_1.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs3_2 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs3_2.png) no-repeat; }/*이미지만 수정*/
#section_jobs .intro.step1 .img_subdivideJobs3_3 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs3_3.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs3_4 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs3_4.png) no-repeat; }


#section_jobs .intro.step1 .img_subdivideJobs4_0 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs4_0.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs4_1 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs4_1.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs4_2 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs4_2.png) no-repeat; }


#section_jobs .intro.step1 .img_subdivideJobs5_0 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs5_0.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs5_1 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs5_1.png) no-repeat; }
#section_jobs .intro.step1 .img_subdivideJobs5_2 { width: 940px; height: 450px; position: absolute; top: 35%; left: 50%; margin-left: -400px; transition: 0.5s all; z-index: 4; background: url(../images/gameIntro/img_subdivideJobs5_2.png) no-repeat; }




@-webkit-keyframes lamp_blinking{
	0% {opacity:0.4;}
	100% {opacity:1;}
  }
  @-moz-keyframes lamp_blinking{
	0% {opacity:0.4;}
	100% {opacity:1;}
  }
  @keyframes lamp_blinking{
	0% {opacity:0.4;}
	100% {opacity:1;}
  }

@keyframes test {
	0% {

	  transform: scale(1,1);
	  opacity: 1;
	}
	5% {
		transform: scale(0.5,0.5);
	}
	10% {
		transform: scale(1,1);
	}
	15% {
		transform: scale(0.5,0.5);
	}
	20% {
		transform: scale(1,1);
	  
	}
	25% {
		transform: scale(0.5,0.5);
	}
	30% {
	  
		transform: scale(1,1);
	}
	35% {
		transform: scale(0.5,0.5);
	}
	40% {
	  
		transform: scale(1,1);
	}
	45% {
		transform: scale(0.5,0.5);
	}
	50% {
		transform: scale(1,1);
	}
	55% {
		transform: scale(0.5,0.5);
	}
	60% {
		transform: scale(1,1);
	}
	65% {
		transform: scale(0.5,0.5);
	}
	70% {
		transform: scale(1,1);
	}
	75% {
		transform: scale(0.5,0.5);
	}
	80% {
		transform: scale(1,1);
	}
	85% {
		transform: scale(0.5,0.5);
	}
	90% {
		transform: scale(1,1);
		opacity: 0;
	}
	95% {
		transform: scale(0.5,0.5);
		opacity: 0;
	}
	100% {
		transform: scale(0.5,0.5);
		opacity: 0;
	}
  }

  .particles_area {
	position: absolute; z-index: 1; width: 400px; height: 100%; top: 0px; left: 58%; transform: skew(44.5deg); overflow: hidden;
  }
  .particles-js-canvas-el {
	position: absolute; z-index: 5; width: 100%; height: 100%; top: 0px; left: 0%;  transform: skew(0deg);
  }





  
#section_gameGuide { 
    display: block;
    z-index: 1;
 }
#section_gameGuide .intro {
    background: url(../images/gameIntro/bg_gameIntro4.jpg) no-repeat;  
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed;
    height: 980px;    
    background-size: 1920px 100%;    
}

#section_gameGuide .intro .element { 
	width: 1100px;
	background: #fff;
	box-sizing: border-box;
	padding-top: 65px;
}

#section_gameGuide .intro .element .tit_gameGuide { width: 300px; height: 90px; font-size: 0; text-indent: -9999px; background: url(../images/gameIntro/img_titGameGuide.png) no-repeat; position: relative; left: 50%; transform: translateX(-50%);  }
#section_gameGuide .intro .element .gameGuideArea { width: 960px; height: 650px; display: block; margin: 40px auto 0px; overflow: hidden; }

#section_gameGuide .intro .element .tableArea { width: 960px; position: relative; margin: 20px auto 0; overflow: hidden; max-height: 540px; } 

#section_gameGuide .intro .element table.gameGuideBoardArea { width: 100%; } 

#section_gameGuide .intro .element table.gameGuideBoardArea th { color: #333333; height: 40px; line-height: 40px; font-size: 14px; text-align: center; font-weight: bold; box-sizing: border-box; border :0; border-top: 2px solid #dddddd; background: #f5f5f5;   }
#section_gameGuide .intro .element table.gameGuideBoardArea td { position: relative; color: #999999; height: 40px; line-height: 40px; font-size: 14px; text-align: center;  box-sizing: border-box; border :0; border-bottom: 1px solid #dddddd; background: #fff; border-right: 1px solid #dddddd;   }
#section_gameGuide .intro .element table.gameGuideBoardArea td:first-child { text-align: left; padding-left: 15px; box-sizing: border-box; width: 68%; max-width: 68%; }
#section_gameGuide .intro .element table.gameGuideBoardArea td:nth-child(2) { width: 18.5%; }
#section_gameGuide .intro .element table.gameGuideBoardArea td:last-child { border-right: 0; }

#section_gameGuide .intro .element table.gameGuideBoardArea td a { display: inline-block; color: #999999; max-width: 600px ; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#section_gameGuide .intro .element table.gameGuideBoardArea td a:hover { color: #f87f; }

#section_gameGuide .intro .element i.gameManager { background: url(../images/gameIntro/name_gameManager.png) no-repeat; display: inline-block;  z-index: 10; margin: 0 auto; width: 146px; height: 13px; }
#section_gameGuide .intro .element i.clock { background: url(../images/gameIntro/icon_clock.png) no-repeat; display: inline-block; position: relative; z-index: 10;width: 11px ; height: 11px ; transform: translateY(0px); }


#section_gameGuide .intro .element i.board_picture { background: url(../images/gameIntro/icon_boardPicture.png) no-repeat; display: inline-block; position: relative; margin-left : 2px; margin-right: 2px; z-index: 10; width: 18px; transform: translateY(11%); height: 16px; }
#section_gameGuide .intro .element i.board_youtube { background: url(../images/gameIntro/icon_boardYoutube.png) no-repeat; display: inline-block; position: relative; margin-left : 2px; margin-right: 2px; z-index: 10; width: 18px; transform: translateY(11%); height: 16px; }
#section_gameGuide .intro .element i.board_new { background: url(../images/gameIntro/icon_boardNew.png) no-repeat; display: inline-block; position: relative; margin-left : 2px; margin-right: 2px; z-index: 10; width: 18px; transform: translateY(11%); height: 16px; }



#section_gameGuide .intro .element .gameGuideArea ul { width: 100%; height: 100%; display: block;  overflow-x: hidden; }
#section_gameGuide .intro .element .gameGuideArea li { width: 100%; height: auto; line-height: 49px; display: block; border-bottom : 1px solid #dddddd; background: #f9f9f9; box-sizing: border-box; padding-left: 19px; cursor: pointer; }
#section_gameGuide .intro .element .gameGuideArea li:first-child { border-top : 2px solid #dddddd; }  
#section_gameGuide .intro .element .gameGuideArea li i.arrow { vertical-align: middle; transform: rotate(-95deg); transition: 0.7s all; background: url(../images/gameIntro/icon_arrow.png) no-repeat; width: 20px; height: 20px; position: relative; display: inline-block; background-position: 0px 0px; }
#section_gameGuide .intro .element .gameGuideArea li i.arrow.on { transform: rotate(-1deg); }
#section_gameGuide .intro .element .gameGuideArea li h3 { font-size: 14px; color: #484848; display: inline-block; margin-left: 2px; }
#section_gameGuide .intro .element .gameGuideArea li p.contents { display: none; color: #888888; line-height: 20px; font-size: 14px; width: 96%; padding: 15px ; background: #fff; position: relative; left: -19px ; padding-left: 45px ; }
#section_gameGuide .intro .element .gameGuideArea li p img.faqImg { width: 80%; display: block; margin-left: 10px; margin-top: 10px; }


#section_gameGuide .intro .element .detailArea { width: 960px; position: relative; margin: 20px auto 0; overflow: hidden;  } 
#section_gameGuide .intro .element .detailArea h2 { font-size: 18px; color: #333333; text-align: left; background: #f9f9f9; border-top: 2px solid #dddddd; padding : 5px 13px; } 
#section_gameGuide .intro .element .detailArea .title_bottom { display: flex; background: #f9f9f9; left: auto; top: auto;  flex-wrap: nowrap; justify-content: space-between; padding : 5px 13px } 
#section_gameGuide .intro .element .detailArea .title_bottom p { color: #333333;  }

#section_gameGuide .intro .element .detailArea .contents { border-bottom: 1px solid #dddddd; width: 100%; max-height: 650px ; min-height: 650px ; overflow: hidden; padding-bottom: 20px; box-sizing: border-box; padding-top: 15px; padding-left: 10px; }
#section_gameGuide .intro .element .detailArea .contents div.customscrollFlag { font-size: 14px; color: #666666; text-align: left; height: 620px ; overflow: scroll; overflow-x: hidden; }
#section_gameGuide .intro .element .detailArea .contents div p { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div div { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div span { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div i { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div strike { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div a { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div li { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div ul { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents div b { color: #666666; }


#section_gameGuide .intro .element .detailArea .contents ul li { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents ul li b { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents ul li a { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents ul li i { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents ul li div { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents ul li span { color: #666666; }
#section_gameGuide .intro .element .detailArea .contents ul { color: #666666; }
 
.mCSB_container { color: #666666; }
#mCSB_1 { width: 90%; }
#mCSB_1_container p { color: #666666; }
#mCSB_1_container a { color: #666666; }
#mCSB_1_container div { color: #666666; }
/* #section_gameGuide .intro .element .detailArea .contents::before { content: ''; background: url(../images/gameIntro/tit_contentsTitle.jpg) no-repeat; width: 960px ; height: 110px ; position: relative; display: block; margin-top: 30px ; margin-bottom: 30px ; } */

#section_gameGuide .intro .element .detailArea a.btn_list { background: url(../images/gameIntro/btn_list_off.jpg) no-repeat; width: 165px; height: 45px; display: block; cursor: pointer; margin-top: 15px; }
#section_gameGuide .intro .element .detailArea a.btn_list:hover { background: url(../images/gameIntro/btn_list_on.jpg) no-repeat; }

.nikName i.gameManager { left: auto !important; top: auto !important; transform: none !important; }

:root {
	--primary: #23adad;
	--greyLight: #23adade1;
	--greyLight-2: #cbe0dd;
	--greyDark: #2d4848;
  }
    
  .items-list {
	max-width: 90vw;
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 3rem;
	justify-content: center;
	align-content: center;
  }
  @media only screen and (max-width: 600px) {
	.items-list {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  .item {
	width: 10rem;
	height: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--greyDark);
	cursor: pointer;
  }
  .item span {
	background: #ffffff;
	box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
	border-radius: 0.6rem;
	padding: 2rem;
	font-size: 3rem;
	transition: all 0.3s ease;
  }
  .item:hover span {
	transform: scale(1.2);
	color: var(--primary);
  }
  .item p {
	font-size: 1.2rem;
	margin-top: 1rem;
	color: var(--greyLight);
  }
  
  .page {
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: 3rem;	
	background: #ffffff;
	
  }

  .page a { display: flex; width: 100%; height: 100%; text-align: center; align-items: center; justify-content: center; color: #484848; transition: 0; }
  .page__numbers, .page__btn, .page__dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	font-size: 14px;
	cursor: pointer;
  }
  .page__dots {
	width: 14px;
	height: 14px;
	color: var(--greyLight);
	cursor: initial;
  }
  .page__numbers {
	width: 25px;
	height: 25px;
	
	color: #484848;
	border : 1px solid #dddddd;
  }
  .page__numbers:hover {
	color: #fff;
    background: #a68c69;
  }
  .page__numbers.active a{ color: #fff; }
  .page__numbers:hover a{ color: #fff; }
  .page__numbers.active {
	color: #fff;
    background: #a68c69;
  }
  .page__btn {
	color: var(--greyLight);
	pointer-events: none;
  }
  .page__btn.active {
	color: var(--greyDark);
	pointer-events: initial;
  }
  .page__btn.active:hover {
	color: var(--primary);
  }

  .page__moreNextBtn { margin: 0 3px; cursor: pointer; background: url(../images/gameIntro/btn_moreNext.png) no-repeat; display: inline-block; width: 16px; height: 10px; vertical-align: middle;  }
  .page__NextBtn { margin: 0 3px; cursor: pointer; background: url(../images/gameIntro/btn_next.png) no-repeat; display: inline-block; width: 16px; height: 10px; vertical-align: middle;  }
  .page__morePrevBtn { margin: 0 3px; cursor: pointer; background: url(../images/gameIntro/btn_morePrev.png) no-repeat; display: inline-block; width: 16px; height: 10px; vertical-align: middle;  }
  .page__PrevBtn { margin: 0 3px; cursor: pointer; background: url(../images/gameIntro/btn_prev.png) no-repeat; display: inline-block; width: 16px; height: 10px; vertical-align: middle;  }

















/*IE*/
/* @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#section_faq .intro .element .faqArea ul {
			margin-right: -10px;
			padding-top: 32px;
			margin-top: -32px;
			margin-bottom: -32px;
			padding-bottom: 32px;
	
			
			scrollbar-base-color: #efefef;
			scrollbar-face-color: #666666;
			scrollbar-3dlight-color: #666666;
			scrollbar-highlight-color: #666666;
			scrollbar-track-color: #efefef;
			scrollbar-arrow-color: #666666;
			scrollbar-shadow-color: #666666;
			scrollbar-dark-shadow-color: #666666;
	  }
	  
		  #section_faq .intro .element .faqArea ul:after {
			content: "";
			height: 32px;
			display: block;
		}
		
	} */
	
	/*Edge*/
	/* @supports (-ms-ime-align:auto)  {
	#section_faq .intro .element .faqArea ul {
			margin-right: -10px;
			padding-top: 16px;
			margin-top: -16px;
			margin-bottom: -16px;
			padding-bottom: 16px;
	}
	  
	#section_faq .intro .element .faqArea ul:after {
		content: "";
		height: 16px;
		display: block;
	}
	} */
	
	/*Firefox*/
	/*From version 64 - https://drafts.csswg.org/css-scrollbars-1/*/
	/* #section_faq .intro .element .faqArea ul {
		scrollbar-width: 10px;
		scrollbar-color: #666666 #efefef;
	} */
	
	
	/*Chrome*/
	/* #section_faq .intro .element .faqArea ul::-webkit-scrollbar-track {
		background-color: #efefef;
		width: 4px;
	}
	
	#section_faq .intro .element .faqArea ul::-webkit-scrollbar-thumb {
		background-color: #666666;
		border: 1px solid transparent;
		background-clip: content-box;
	}
	
	#section_faq .intro .element .faqArea ul::-webkit-scrollbar {
		width: 8px;
	} */

/* .faqArea ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.faqArea ul::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.faqArea ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */